.side-image
  .images-wrapper
  .side-image-content
    %h4 Stripe with Rails
    %h1 3-way payments with Stripe
    <p> Stripe is considered to have some of the best documentation available for payment gateway systems.
    While that is indeed true, it can still be daunting to implement custom features for your app with Stripe.
    For sure, the Stripe Checkout popup takes the problem of styling out of your hands,
    but what if you want to host payments between users? Here I will take you step-by-step through the process.</p>
.panel-light
  .content-wrapper
    %p XOXO put a bird on it flannel street art synth VHS, Schlitz vinyl. Sustainable listicle food truck four loko Portland, slow-carb flannel. Shabby chic Truffaut keffiyeh, 8-bit Marfa hashtag tofu Vice. Seitan post-ironic banjo farm-to-table Pitchfork. Art party authentic trust fund, bespoke American Apparel wayfarers cronut. Messenger bag cold-pressed hella, actually 3 wolf moon next level kogi butcher Brooklyn plaid tilde Echo Park. Taxidermy Intelligentsia tousled, butcher art party typewriter American Apparel cliche.
  .code-wrapper
    %pre
      %code
        :preserve
          source 'https://rubygems.org'
            gem 'rails', '4.2.1'
            gem 'sqlite3'
            gem 'sass-rails', '~> 5.0'
            gem 'uglifier', '>= 1.3.0'
            gem 'coffee-rails', '~> 4.1.0'

            gem 'jquery-rails'
            gem 'turbolinks'
            gem 'jbuilder', '~> 2.0'
            gem 'sdoc', '~> 0.4.0', group: :doc
            gem 'haml-rails'
            gem 'devise'
            gem 'bourbon'
            gem 'neat'
            gem 'stripe'
            gem 'omniauth-stripe-connect'
            gem 'figaro'

            group :development, :test do
              gem 'byebug'
              gem 'better_errors'
              gem 'web-console', '~> 2.0'
              gem 'spring'
            end

  %div{style: 'clear:both'}

.panel-dark{style: 'background: #F9F9F9;'}
  .code-wrapper{style: 'width: 44%;'}
    %pre
      %code
        :preserve
          rails g controller pages home
          rails g devise:install
          rails g devise User
          rails g scaffold Puppies name:string price:integer breed:string
          age:integer url:string user_id:integer

          rails g AddDetailsToUsers name:string publishable_key:string
          provider:string uid:string access_code:string

          rails g controller charges item:string user_id:integer
          vendor_id:integer token:string customer_id:string completed:boolean
          rake db:migrate

          ## user.rb
          class User < ActiveRecord::Base
            devise :database_authenticatable, :registerable,
           :recoverable, :rememberable, :trackable,
           :validatable, :omniauthable
            has_many :puppies, dependent: :destroy
            has_many :paid_charges, class_name: 'Charge',
            foreign_key: 'user_id', dependent: :destroy

            has_many :received_charges, class_name: 'Charge',
            foreign_key: 'vendor_id', dependent: :destroy
          end

          ## puppy.rb
          class Puppy < ActiveRecord::Base
            belongs_to :user
          end

          ## charge.rb
          class Charge < ActiveRecord::Base
            belongs_to :user
            belongs_to :vendor, class_name: 'User', foreign_key: 'vendor_id'
          end

  .content-wrapper{style: 'width: 56%; background: #F9F9F9;'}
    %p Farm-to-table letterpress narwhal artisan, chia hashtag distillery authentic kogi retro mustache salvia hoodie photo booth raw denim. Chambray dreamcatcher narwhal, typewriter tilde Wes Anderson whatever fap vegan kogi iPhone Helvetica pickled viral tattooed. Banh mi messenger bag hoodie, quinoa meggings Austin Etsy gastropub fixie keffiyeh hella organic mlkshk. Twee PBR artisan, High Life mlkshk health goth meditation scenester. Marfa cardigan keffiyeh street art. Flexitarian pug tilde polaroid PBR, narwhal lomo tattooed Marfa. Dreamcatcher sriracha XOXO lomo whatever.
  %div{style: 'clear:both;'}
.panel-light
  .content-wrapper{style: 'width: 44%;'}
    %p Brunch seitan Blue Bottle, crucifix lumbersexual umami blog keffiyeh. Pickled asymmetrical before they sold out kogi. Mlkshk beard semiotics, sriracha YOLO health goth fap selfies heirloom lumbersexual Kickstarter Thundercats typewriter. Try-hard hoodie PBR&B craft beer. DIY crucifix drinking vinegar paleo ethical typewriter. YOLO PBR&B slow-carb put a bird on it, next level Thundercats master cleanse Shoreditch Austin Odd Future. Forage Pinterest taxidermy pug, lomo blog disrupt street art gentrify Vice pork belly organic occupy try-hard.
  .code-wrapper{style: 'width: 56%;'}
    %pre
      %code
        = preserve do
          :escaped

            ## routes.rb
            Rails.application.routes.draw do
              resources :puppies
              resources :charges
              devise_for :users, :controllers => { :omniauth_callbacks => "omniauth_callbacks" }
              root 'pages#home'
              get 'pups' => 'pages#pups'
              get 'complete_charge' => 'charges#complete'
            end

            ## initializers/stripe.rb
            Rails.configuration.stripe = {
              :publishable_key => ENV["stripe_publishable_key"],
              :secret_key      => ENV["stripe_api_key"]
            }
            Stripe.api_key = Rails.configuration.stripe[:secret_key]

            ## initializers/devise.rb
            config.omniauth :stripe_connect, ENV["access_token"], ENV["stripe_api_key"],
            scope: 'read_write', stripe_landing: 'register'

            ## home.html.haml
            <div class="puppy-button">
              <%= form_for @charge do |f| %>
                <%= f.hidden_field :amount, value: puppy.price %>
                <%= f.hidden_field :item, value: puppy.name %>
                <%= f.hidden_field :owner_id, value: puppy.user.id %>
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key=ENV["stripe_publishable_key"] data-amount="<%= puppy.price*100 %>"
                data-name="PuppyAdopt" data-description="<%= number_to_currency(puppy.price) %>"
                data-image: "/assets/lab.jpg"></script>
  %div{style: 'clear:both;'}

.panel-dark{style: 'background: #F9F9F9;'}
  .code-wrapper{style: 'width: 53%;'}
    %pre
      %code
        :preserve
          ## omniauth_callbacks_controller.rb
          class OmniauthCallbacksController < ApplicationController
            def stripe_connect
              @user = current_user
              if @user.update_attributes({
                provider: request.env["omniauth.auth"].provider,
                uid: request.env["omniauth.auth"].uid,
                access_code: request.env["omniauth.auth"].credentials.token,
                publishable_key: request.env["omniauth.auth"].info.stripe_publishable_key
              })
                # anything else you need to do in response..
                sign_in_and_redirect @user, :event => :authentication
                flash[:notice] = "Signed in with " +
                current_user.provider.to_s.titleize + " successfully."
              else
                session["devise.stripe_connect_data"] = request.env["omniauth.auth"]
                redirect_to new_user_registration_url
              end
            end
          end

          ## pages_controller.rb
          class PagesController < ApplicationController
            before_action :authenticate_user!
            def home
              @users = User.all
              @puppies = Puppy.all
              @charge = Charge.new
            end

            def pups
              @user = current_user
              if @user
                @puppies = Puppy.where(user_id: @user.id)
              end
            end
          end

          ## charges_controller.rb
          class ChargesController < ApplicationController
            def new
            end

            def complete
              @charge = Charge.find(params[:charge_id])
              @puppy = Puppy.find_by(user_id: @charge.user_id,
              arrived: false, name: @charge.item)

              Stripe.api_key = ENV["stripe_api_key"]
              token = params[:token]
              charge = Stripe::Charge.create({
                :amount => @charge.price*100,
                :description => 'Rails Stripe customer',
                :customer => params[:customer_id],
                :currency => 'usd',
                :destination => @charge.vendor.uid,
                :application_fee => 200+(@charge.price*3)+ 31
                },
              )
              @charge.update_attribute(:completed, true)
              @puppy.update_attribute(:arrived, true)

              rescue Stripe::CardError => e
                flash[:error] = e.message
                redirect_to charges_path
            end

            def create
              customer = Stripe::Customer.create(
                :email => 'example@stripe.com',
                :card => params[:stripeToken]
              )
              @charge = Charge.new(
              price: params[:charge]["amount"].to_i,
              user_id: current_user.id,
              vendor_id: params[:charge]["owner_id"].to_i,
              item: params[:charge]["item"],
              token: params[:stripeToken],
              customer_id: customer.id
              )
              @charge.save

              @puppy = Puppy.where(name: @charge.item).first
              @puppy.user_id = @charge.user_id
              @puppy.arrived = false
              @puppy.save
            end
          end

  .content-wrapper{style: 'width: 46%;'}
    %p Retro kogi Thundercats, cliche chambray readymade blog selvage Tumblr church-key tofu distillery polaroid quinoa listicle. Yr banh mi sartorial art party, cray kale chips forage Austin selfies letterpress crucifix Carles fingerstache fashion axe mustache. Organic Austin Pitchfork meh ethical. DIY food truck street art four loko, pug gluten-free PBR umami. Twee synth small batch, seitan art party PBR&B direct trade put a bird on it Odd Future. Four loko letterpress DIY, +1 polaroid slow-carb pickled Intelligentsia. IPhone DIY plaid, cronut mixtape shabby chic Austin migas.
    %p Disrupt synth food truck, sustainable small batch Etsy 3 wolf moon brunch Pitchfork you probably haven't heard of them PBR&B four loko. Post-ironic gluten-free meggings, cred chambray scenester leggings Schlitz sartorial drinking vinegar squid plaid typewriter banh mi. Pop-up Pinterest Kickstarter iPhone. Slow-carb Truffaut Marfa 3 wolf moon, bespoke wolf direct trade bitters paleo four dollar toast. Intelligentsia distillery Blue Bottle, before they sold out Shoreditch four dollar toast YOLO fap asymmetrical Helvetica whatever chillwave Williamsburg Banksy listicle. Sustainable hashtag Etsy jean shorts, disrupt viral roof party freegan migas. Kale chips Marfa deep v, tattooed beard before they sold out banh mi bicycle rights lo-fi gluten-free Wes Anderson iPhone mixtape vinyl quinoa.
    %p Synth quinoa trust fund master cleanse. 3 wolf moon stumptown master cleanse literally wayfarers bitters. Chia 3 wolf moon literally XOXO cardigan four loko, fanny pack selfies art party mixtape dreamcatcher messenger bag deep v Williamsburg bicycle rights. Brunch butcher beard, Banksy keffiyeh whatever roof party YOLO sriracha. Vegan kogi single-origin coffee fashion axe fingerstache Portland, YOLO messenger bag pickled trust fund Williamsburg before they sold out salvia. Fashion axe butcher Williamsburg McSweeney's put a bird on it, bitters health goth ennui farm-to-table High Life disrupt. Artisan asymmetrical locavore vegan, ethical letterpress narwhal plaid salvia Schlitz chambray mixtape.

  %div{style: 'clear:both;'}

.panel-light{style: 'background: #F9F9F9;'}
  .content-wrapper
    %p Disrupt synth food truck, sustainable small batch Etsy 3 wolf moon brunch Pitchfork you probably haven't heard of them PBR&B four loko. Post-ironic gluten-free meggings, cred chambray scenester leggings Schlitz sartorial drinking vinegar squid plaid typewriter banh mi. Pop-up Pinterest Kickstarter iPhone. Slow-carb Truffaut Marfa 3 wolf moon, bespoke wolf direct trade bitters paleo four dollar toast. Intelligentsia distillery Blue Bottle, before they sold out Shoreditch four dollar toast YOLO fap asymmetrical Helvetica whatever chillwave Williamsburg Banksy listicle. Sustainable hashtag Etsy jean shorts, disrupt viral roof party freegan migas. Kale chips Marfa deep v, tattooed beard before they sold out banh mi bicycle rights lo-fi gluten-free Wes Anderson iPhone mixtape vinyl quinoa.
  .code-wrapper
    %img{src: "/assets/screen2.png"}
    %img{src: "/assets/screen1.png"}

  %div{style: 'clear:both;'}

.panel-dark{id: 'comments', style: 'min-height: 3em;'}
  %h3 Comments
  - @comments.each do |comment|
    %p Added by #{comment.author} #{time_ago_in_words(comment.created_at)} ago
    %blockquote
      %p #{comment.body}


.modal
  %label{for: 'modal-1'}
    .modal-trigger Click to Post a Comment
  %input{class: 'modal-state', id: 'modal-1', type: 'checkbox'}

  .modal-fade-screen
    .modal-inner
      .modal-close{for: 'modal-1'}
      %h3 New Comment
      = render 'form'


-# TODO - Give preview of app
-# Basic start with devise and scaffolds
-# Stripe Checkout
-# Stripe OAuth
-# Stripe Charge
-# Application Fee
-# Overview
